
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #red;
	background-color:#fff;
}


#topheader{
height:30px;	
}

#main_wrapper{
	 
	margin: auto ;
	
}

#prisma_logo{

	height: 132px;
	width:370px;
	
}


#logo_block{
	height:150px;
}

#menu_block{
	padding-top:8px;
	height:30px;
}

#menu {
	padding:0px;
	width:960px;
	padding-bottom:100px;
}

#menu .topli  {
	background-color: red;
	border-right-style: solid;
	border-right-color: white;
	height:30px;
	width:186px;
	padding-right:1px;
	margin-right:0px;
	text-align:center;
	margin-top:5px;
	color:white;
	list-style: none;
	display: inline-table;
	border: none;
	
	}

.topli a {
	color:white;
}

.subli a {
	color:red;
}
#menu li  a {
	
	text-decoration:none;
	position:relative;
	top:5px;

}

.subli{
	margin:0px;
	z-index:inherited;
	background-color:white;
	border:solid 1px black;
	margin-bottom:3px;
	height:30px;
	right:20px;
	width:183px;
	position:relative;
	top:10px;
}

.subnav{
 	list-style:none;
}
#menu_block{
	padding-bottom: 40px;
}

#menu{
	padding:0px;
	z-index:500;
	}
	

#header_main{
		width:100%;
		height:150px;
		position:relative;
		padding-bottom:8px;
		padding-top: 40px;
		
}
#facebook_icon{
	height: 56px;
	width: 56px;
	margin-top:80px;
	margin-left:15px;
}
	
#twitter_icon{
	height: 56px;
	width: 56px;
	margin-top:80px;
	
}

#guia_cartuchos{
	margin-top:80px;
}

#bloque_contenido{
	margin-top:0px;
	z-index:-5
	
}

span {
	color:black;
}

#footer{
	margin-top:40px;
	margin-bottom:20px;
	padding-top: 10px;
	border-top: 2px solid gray;
}


#footer ul {
	margin:auto	;
	float:none;
	text-align:center;
	display: table-footer-group;

}
#footer li{
	margin:auto;
	list-style:none;
	
}

#footer li a:hover {
	color: blue;
}

#footer li a{
	text-decoration:none;
	font-family: Verdana;
	color:black;
	font-size: 11px;
}
