<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Cartuchos, toners, papelería, limpieza, cafetería y electronicos. Originales HP, Lexmark, Epson, Toshiba, Canon, Brother, Sharp, Samsung, Xerox"/>
<meta name="keywords" content="vendedor, papelería, suministros de oficina" />
<title>Cartuchos Toners Papelería Limpieza Cafetería Electrónicos Prisma República Dominicana</title>
<link rel="stylesheet" href="./css/blueprint/screen.css" type="text/css" media="screen, projection">
 <link rel="shorcut icon" href="./images/favicon.ico" 
  <link rel="stylesheet" href="./css/blueprint/print.css" type="text/css" media="print"> 
  <link rel="stylesheet" href="./css/main_default.css" type="text/css" media="screen, projection">	
  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
  <script type = "tex/javacript" src="./js/superfish.js"></script>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
</head>

<div id = " main_wrapper" class = "container" > 
<div id="topheader">

  	<div id= "header_main" class= "span-24">
   		<div id="logo_div" class="span-19">
			<a  id="logo_block" href="./content/index.php">
			<img id="prisma_logo" src="./images/prisma_logo2.png">
			</a>
		</div>
		<div id="facebook_div" class= "span-2 prepend-1">	
			<a id ="facebook" href="http://www.facebook.com/prismado">
			<img id= "facebook_icon" src="./images/facebook-logo.png"> 
			</a>
		</div>
		
		<div id="twitter_div" class="span-1">
			<a id= "twitter"  href="http://www.twitter.com/PrismaRD" >
			<img  id= "twitter_icon" src="./images/twitter_logo.png">
			</a>
		</div>
		
		<!--<div id="guia_cartuchos"class="span-2 push-2">
			<a href="./menu-pages/guia_cartuchos.html">Guia de Cartuchos</a>
		</div> -->
		
	</div>
</div>		
		
		
		<div id="menu_block" class= "span-24" >
			<ul id= "menu" class="topnav">
				<li id ="papeleria" class= " border topli">
					<a href="./content/papeleria.php">Papelería</a>
					<!--<ul class= "subnav">
						<li class="subli">
							<a>Papeles rojo</a>
						</li>
						<li class="subli">
							<a>Papeles Blancos</a>
						</li>
					</ul> -->	
				</li>
				
  
				<li id = "limpieza" class=" border topli">
				<a href="./content/limpieza.php">Limpieza</a>
					<!--<ul class= "subnav">
						<li class="subli">
							<a>Aseo</a>
						</li>
						<li class="subli">
							<a>Baños</a>
						</li> 
					</ul>-->	
				</li>
	
			 	<li id = "Cartuchos_y_Toners" class=" border topli">
					<a href="./content/cartuchos.php">Cartuchos y Toners</a>
					<!--<ul class= "subnav">
						<li class="subli">
							<a>Toshiba</a>
						</li>
						<li class="subli">
							<a>HP</a>
						</li>
						<li class="subli">
							<a>Dell</a>
						</li>
					
						<li class="subli">
							<a>Lexmark</a>
						</li>
					
					</ul>-->
				</li>
	
			    <li id="Cafeteria" class=" border topli">
					<a href="./content/cafeteria.php">Cafetería</a>
				</li>
    
			    <li id="Electronicos" class=" borde topli">
					<a href="./content/electronicos.php">Electrónicos</a>
				</li>
			     </ul>
		</div>

  

 
	
	<div id="bloque_contenido" class="span-24" >

		<span> Prisma es una empresa que nace para ser la solución a todas las necesidades de oficina. Nosotros somos importadores y		   
				distribuidores de papelería, limpieza, cartuchos, toners, cafetería, y electrónicos. Contamos con más de mil diferentes productos  
				en inventario de manera permanente, comercializando así las marcas más conocidoas del mercado. </span>
				<br>
				</br>
	      <span>Nuestro servicio es uno de nuestros mejores activos, ya que nuestro equipo se conforma por gente altamente capacitada en el área para satisfacerlo. Contamos con equipo de ventas que conoce cada producto y lo puede 
				guiar 
				en sus compras. Un departamente de despacho y almacenamiento que mantiene los productos en el mejor estado y realiza las entregas en menos de quince horas laborables. Y un departamento de gerencia que día a día 
				trabaja 	
				para mantener los mejores precios y ofertar sólo productos de alta calidad.</span>
				<br>
				</br>
	      <span>Llámanos para que uno de nuestros ejecutivos de ventas te asista en todas tus necesidades de oficina.</span>
				<br>
				</br>
	      <span id="telefono">Tel: (809) 563-1114 </span>
				<br>
	      <span id="fax">Fax: (809) 563-0798</span>
				<br>
	      <span >Santo Domingo, República Dominicana</span>
  
	</div>
	
	<div id="footer" class="span-24">    
		<ul id="footer_list" class="span-13">
			<li class="span-3 prepend-17">
	 			<a href="./content/quienessomos.php">Quiénes Somos</a>
	 		</li>
			<li class="span-2">
				<a href="./content/empleos.php">Empleos</a>
			</li>	
			<li class="span-2">
	 			<a	href="./content/contacto.php">Contacto</a>
			</link>
		</ul>
	</div>
</div>	  