<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Cartuchos, toners, papelería, limpieza, cafetería y electronicos. Originales HP, Lexmark, Epson, Toshiba, Canon, Brother, Sharp, Samsung, Xerox"/>
<meta name="keywords" content="vendedor, papelería, suministros de oficina" />
<title>Suministros de Oficina Prisma</title>
<style type="text/css">
<!--
.Footer {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

 str_replace() 
-->
</style>

<table width="920" border="0">
  <tr>
    <td width="715">&nbsp;</td>
    <td width="195" class="Footer">I <a href="http://www.prisma.com.do/quienessomos.php">Quienes Somos </a>I <a href="http://www.prisma.com.do/empleos.php">Empleos </a>I <a href="http://www.prisma.com.do/contacto.php">Contacto I</a></td>
  </tr>
</table>